:root {
    --table-blue: #6C64BB;
    --table-gray: #B6A19e44;
    --active: #f3dbff;
    --hover: #f3dbff88;
    --button: #6BBAA7;
    --button-hover: #6BBAA7;
}

body {
    font-family: sans-serif;
    background-color: #fcfcfc;
}

form {
    padding: 20px;
}

form div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ScoreSheet {
    table-layout: fixed;
    width: 1280px;
    border-collapse: collapse;
    border: 1px solid black;
}

.ScoreSheet tbody {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ScoreSheet tr, td {
    border: 1px solid black;
}

.ScoreSheet td {
    text-align: center;
    padding: 5px;
}

.ScoreSheet output {
    text-align: center;
}

.ScoreSheetBlue {
    color: white;
    background-color: var(--table-blue) ;
}

.ScoreSheetGray {
    background-color: var(--table-gray);
}

[data-target-id]:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.active {
    background-color: var(--active);
}


button {
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid var(--button);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
    color: white;
}

.record-area {
    padding: 20px;
}