body {
    font-family: sans-serif;
}

form {
    padding: 20px;
}

form div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ScoreSheet {
    table-layout: fixed;
    width: 1280px;
    border-collapse: collapse;
    border: 1px solid black;
}

.ScoreSheet tbody {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ScoreSheet tr, td {
    border: 1px solid black;
}

.ScoreSheet td {
    text-align: center;
    padding: 5px;
}

.ScoreSheet output {
    text-align: center;
}

.ScoreSheetBlue {
    color: white;
    background-color: rgb(109, 95, 189) ;
}

.ScoreSheetGray {
    background-color: #E0E0E0;
}

[data-target-id]:hover {
    background-color: rgb(242, 240, 255);
    cursor: pointer;
}

.active {
    background-color: rgb(225, 219, 255) ;
}


button {
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #4CAF50;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

.record-area {
    padding: 20px;
}